<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RootFilesystem</key>
	<string>058-09782-017.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1971</integer>
	<key>Filename</key>
	<string>iPhone5,4_8.1.2_12B440_Restore.ipsw</string>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>Name</key>
	<string>iPhone5,4_8.1.2_12B440</string>
	<key>SubPlatform</key>
	<integer>6</integer>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n49.plist</string>
	<key>SHA1</key>
	<string>9068f83f6e102cf63ab2265d33314b3fbcf2bc61</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>RootFilesystemMountVolume</key>
	<string>SUOkemoTaos12B440.N49OS</string>
	<key>FirmwarePatches</key>
	<dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n49.RELEASE.dfu</string>
			<key>Key</key>
			<string>09379ddfc77bb6f90aa42838de28fc3f1f2d6fba546ad3c167c9cb9190d01df0</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<string>iBSS.n49.RELEASE.patch</string>
			<key>IV</key>
			<string>39495db41d8df4e6f7a0704adf2f0797</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n49.RELEASE.dfu</string>
			<key>Key</key>
			<string>0afcf83bdeaa78a15834dbd5d6d13ae5f966d220c082cc9491cba397e8ede534</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<string>iBEC.n49.RELEASE.patch</string>
			<key>IV</key>
			<string>659abd575726c27501989388eae8ef73</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-09687-017.dmg</string>
			<key>Key</key>
			<string>f29520faf4be17688c992d5ac4d233f7b028b3f7cca9a2aa93ee047f948953ee</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
			<key>IV</key>
			<string>5e49f750810f0849816c743cf0c96f3c</string>
		</dict>
	</dict>
	<key>RootFilesystemKey</key>
	<string>9834327ccdccbf18a9f74fb307ebdc30a50a33991d248b88902130b9bc5b682f97226117</string>
</dict>
</plist>
