<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>Filename</key>
	<string>iPhone5,3_9.3.4_13G35_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>058-49199-035.dmg</string>
			<key>IV</key>
			<string>1380dbbda804ae36b8e3c36fb583cb41</string>
			<key>Key</key>
			<string>0d9de295f719a4a2a4bc4fdcca8da8fe4f0b60bacdcae995256302ef206ec115</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n48.RELEASE.dfu</string>
			<key>IV</key>
			<string>9212f8ec690e8b6ce39e6f811aa372b2</string>
			<key>Key</key>
			<string>1b4ce62d4a41526bf364d52172b7d732fbf62f7eec959adafad6d6677ab74ba1</string>
			<key>Patch</key>
			<string>iBEC.n48.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n48.RELEASE.dfu</string>
			<key>IV</key>
			<string>8cedee61f629895d71ee9fbc62de1707</string>
			<key>Key</key>
			<string>6b3ad272c8b37e66899d09957a093444aae41a82e27528a085417a511a2640e4</string>
			<key>Patch</key>
			<string>iBSS.n48.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPhone5,3_9.3.4_13G35</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n48.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>058-48123-035.dmg</string>
	<key>RootFilesystemKey</key>
	<string>1d057f3d18e1cefdaa939c52a8fc0a8c6ca7aea872e21cb80f25741635ebf3158e19bef0</string>
	<key>RootFilesystemMountVolume</key>
	<string>Genoa13G35.N48OS</string>
	<key>RootFilesystemSize</key>
	<integer>2200</integer>
	<key>SHA1</key>
	<string>30caf5a70cfe263abd9be9de7c64ecbe14fe8126</string>
	<key>SubPlatform</key>
	<integer>6</integer>
	<key>FirmwareInject</key>
	<dict>
		<key>AppleLogo</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n48ap.production/applelogo@2x~iphone.s5l8950x.img3</string>
		</dict>
		<key>BatteryCharging0</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n48ap.production/batterycharging0@2x~iphone.s5l8950x.img3</string>
		</dict>
		<key>BatteryCharging1</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n48ap.production/batterycharging1@2x~iphone.s5l8950x.img3</string>
		</dict>
		<key>BatteryFull</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n48ap.production/batteryfull@2x~iphone.s5l8950x.img3</string>
		</dict>
		<key>BatteryLow0</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n48ap.production/batterylow0@2x~iphone.s5l8950x.img3</string>
		</dict>
		<key>BatteryLow1</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n48ap.production/batterylow1@2x~iphone.s5l8950x.img3</string>
		</dict>
		<key>BatteryPlugin</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n48ap.production/glyphplugin@1136~iphone-lightning.s5l8950x.img3</string>
		</dict>
		<key>RecoveryMode</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n48ap.production/recoverymode@1136~iphone-lightning.s5l8950x.img3</string>
		</dict>
		<key>LLB</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n48ap.production/LLB.n48.RELEASE.img3</string>
		</dict>
		<key>iBoot</key>
		<dict>
			<key>File</key>
			<string>Firmware/all_flash/all_flash.n48ap.production/iBoot.n48.RELEASE.img3</string>
		</dict>
	</dict>
	<key>TarPath</key>
	<string>src/binSB.tar</string>
</dict>
</plist>
