<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RootFilesystem</key>
	<string>038-4014-394.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1600</integer>
	<key>Filename</key>
	<string>iPhone5,2_7.0_11A465_Restore.ipsw</string>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>Name</key>
	<string>iPhone5,2_7.0_11A465</string>
	<key>SubPlatform</key>
	<integer>6</integer>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n42.plist</string>
	<key>SHA1</key>
	<string>137e2031a4c03b5da2e05bf33b2741883131371c</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>RootFilesystemMountVolume</key>
	<string>Innsbruck11A465.N42OS</string>
	<key>FirmwarePatches</key>
	<dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n42ap.RELEASE.dfu</string>
			<key>Key</key>
			<string>572313e3342986c01550809c66be42d8ad970a0f12343ff6cb500ad1dca9d514</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<string>iBSS.n42ap.RELEASE.patch</string>
			<key>IV</key>
			<string>4a3ed8a8cf9d8714c872370a591659ea</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n42ap.RELEASE.dfu</string>
			<key>Key</key>
			<string>66492e30f186fb1bba6042f6558bbad832e25c338f5ad8bb12ffb86a7e2e6c0a</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<string>iBEC.n42ap.RELEASE.patch</string>
			<key>IV</key>
			<string>7da6b09741820594def19ded0018ea4a</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>038-3474-250.dmg</string>
			<key>Key</key>
			<string>72f37a03216f8594ea0d6f21238f417d101a5828e2fedfbc13cab7a0bdbd0f7c</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
			<key>IV</key>
			<string>a69cfdd6d439dca235399203493ae4ff</string>
		</dict>
	</dict>
	<key>RootFilesystemKey</key>
	<string>e36c8b97a6992d0c0f2d8076de29247bf076c52365efe1c3b983645a61ce1cc84e99adde</string>
</dict>
</plist>
