<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RootFilesystem</key>
	<string>058-1126-002.dmg</string>
	<key>RootFilesystemSize</key>
	<integer>1589</integer>
	<key>Filename</key>
	<string>iPhone5,2_7.0.4_11B554a_Restore.ipsw</string>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>Name</key>
	<string>iPhone5,2_7.0.4_11B554a</string>
	<key>SubPlatform</key>
	<integer>6</integer>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n42.plist</string>
	<key>SHA1</key>
	<string>bccc1b1fc17bb3b701a4ee2c6869c4679f0fc2fa</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>RootFilesystemMountVolume</key>
	<string>InnsbruckTaos11B554a.N42OS</string>
	<key>FirmwarePatches</key>
	<dict>
		<key>iBSS</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n42ap.RELEASE.dfu</string>
			<key>Key</key>
			<string>d4359822acd8893c92a550d1f5713c67177995164bc9dbdc2ab78f5542bdaf1c</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<string>iBSS.n42ap.RELEASE.patch</string>
			<key>IV</key>
			<string>8cfbee4f4bcc33264dfb70884c6b8e65</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n42ap.RELEASE.dfu</string>
			<key>Key</key>
			<string>d3cdea27492f9520c29b3d01fa585b01a15d95a8de29abb73ff56c280e450212</string>
			<key>Decrypt</key>
			<true/>
			<key>Patch</key>
			<string>iBEC.n42ap.RELEASE.patch</string>
			<key>IV</key>
			<string>f948fdbe8750ba21d5d36d059652eb8e</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>File</key>
			<string>058-1089-002.dmg</string>
			<key>Key</key>
			<string>59ba0036adfa292560190605a939518fbc763f5ce6ce4132f9da16eca587bfb0</string>
			<key>Decrypt</key>
			<true/>
			<key>TypeFlag</key>
			<integer>8</integer>
			<key>IV</key>
			<string>4656599b57b92fafcfe90c162b8e814e</string>
		</dict>
	</dict>
	<key>RootFilesystemKey</key>
	<string>fda6f955da41b6b2ea3ffd5da8a927a13803c92289e7cb5f7cdb349e4c787198a41d2eb5</string>
</dict>
</plist>
