<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DownloadUrl</key>
	<string></string>
	<key>Filename</key>
	<string>iPhone5,3_7.1.2_11D257_Restore.ipsw</string>
	<key>FilesystemPatches</key>
	<dict/>
	<key>FirmwarePatches</key>
	<dict>
		<key>Restore Ramdisk</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>058-4276-009.dmg</string>
			<key>IV</key>
			<string>b2c9a993e0c2e5905993d95751d7e593</string>
			<key>Key</key>
			<string>47c69d148b1b091084c17044f605a7757e3a8fe03c87f5a632faa9ade0cb330f</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBEC</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBEC.n48ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>91302d8a02ba87a006633a8b11eb1f8d</string>
			<key>Key</key>
			<string>456ed22121c84c411d44bbb689f925b906019491cc2529150eaef0da9c59dbc3</string>
			<key>Patch</key>
			<string>iBEC.n48ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
		<key>iBSS</key>
		<dict>
			<key>Decrypt</key>
			<true/>
			<key>File</key>
			<string>Firmware/dfu/iBSS.n48ap.RELEASE.dfu</string>
			<key>IV</key>
			<string>7456fc0204f434d7f2a56385668f85aa</string>
			<key>Key</key>
			<string>c32c235edc8d29436d3c5a5f6d0607b97c70af3e2c68a7cbef0e60115baae06e</string>
			<key>Patch</key>
			<string>iBSS.n48ap.RELEASE.patch</string>
			<key>TypeFlag</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>Name</key>
	<string>iPhone5,3_7.1.2_11D257</string>
	<key>Platform</key>
	<integer>1</integer>
	<key>RamdiskMountVolume</key>
	<string>ramdisk</string>
	<key>RamdiskOptionsPath</key>
	<string>/usr/local/share/restore/options.n48.plist</string>
	<key>RamdiskPatches</key>
	<dict>
		<key>asr</key>
		<dict>
			<key>File</key>
			<string>usr/sbin/asr</string>
			<key>Patch</key>
			<string>asr.patch</string>
		</dict>
	</dict>
	<key>RootFilesystem</key>
	<string>058-4139-009.dmg</string>
	<key>RootFilesystemKey</key>
	<string>caaa25959d0b0dcdad4dcacee631ad072928a6a992142f5b1458dd85aa705f8378cd89b7</string>
	<key>RootFilesystemMountVolume</key>
	<string>Sochi11D257.n48OS</string>
	<key>RootFilesystemSize</key>
	<integer>1665</integer>
	<key>SHA1</key>
	<string>8042b1c7fc02ad80a511f23dfd9091773ee11fc9</string>
	<key>SubPlatform</key>
	<integer>6</integer>
</dict>
</plist>
